<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>852464021373-nsttn4m7il26t8ccducjigdkucmrflhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852464021373-nsttn4m7il26t8ccducjigdkucmrflhc</string>
	<key>API_KEY</key>
	<string>AIzaSyCOlTBfDdA2RSRiiQax1mmjaPSb2hPq_sI</string>
	<key>GCM_SENDER_ID</key>
	<string>852464021373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aleph.refactor-Drivetime</string>
	<key>PROJECT_ID</key>
	<string>drive-time-b3106</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-time-b3106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852464021373:ios:da3dc19574815562</string>
	<key>DATABASE_URL</key>
	<string>https://drive-time-b3106.firebaseio.com</string>
</dict>
</plist>